[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/delmitmate"]
	path = .vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
